<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>messageA: {{ messageA }}</h2>
    <h2>messageB: {{ messageB }}</h2>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  computed: {
    messageA() {
      return this.$store.state.a.message
    },
    messageB() {
      return this.$store.state.b.message
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
